*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body, html{
    font-family: 'Tahoma' sans-serif;
    background-color: var(--main-color); ;
}

:root{
    --main-color: #121212;
    --elements: #303030;
    --cta: #007bff;
}